<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Turnero.Api.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ConnectionStrings__Default" value="Server=mssql.anaxanet.com,1433;Database=vksbgxbd_turnero;User Id=vksbgxbd_turnero;Password=j_w!6LZ+Uu=C@4+8gT47;TrustServerCertificate=True;" />
          <environmentVariable name="Motor" value="SqlServer" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <fileExtensions>
            <add fileExtension=".json" allowed="false" />
            <add fileExtension=".db" allowed="false" />
            <add fileExtension=".env" allowed="false" />
          </fileExtensions>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
